# Main blog domain
# progrunning.net, www.progrunning.net {
#     reverse_proxy ghost:2368
# }
# 
# Arcane service (Docker container manager)
arcane.progrunning.net {
	reverse_proxy arcane:3552
}
# 
# # Grafana service (Monitoring & Visualization)
# grafana.progrunning.net {
#     basicauth / {
#         {$GRAFANA_USER} {$GRAFANA_PASSWORD_HASH}
#     }
#     reverse_proxy grafana:3000
# }

# Beszel service (System Monitoring)
beszel.progrunning.net {
	reverse_proxy beszel:8090
}
